@page
@model Ghita_Vlad_Proiect_Facturi.Pages.Facturi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].Numar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].DataEmiterii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].DataScadentei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].TipFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].Partener)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facturi[0].Stare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facturi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmiterii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataScadentei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partener.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stare)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
