@page
@model Ghita_Vlad_Proiect_Facturi.Pages.Produse.IndexModel

@{
    ViewData["Title"] = "Lista Produse";
}

<h1>Lista Produse</h1>

<p>
    <a asp-page="./Create" class="btn btn-success">Adauga produs nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].NumeProdus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].PretUnitar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Descriere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var produs in Model.Produs) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => produs.NumeProdus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => produs.PretUnitar)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => produs.Descriere)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@produs.ID" class="btn btn-sm btn-info">Detalii</a>
                    <a asp-page="./Edit" asp-route-id="@produs.ID" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@produs.ID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

