@page
@model Ghita_Vlad_Proiect_Facturi.Pages.Plati.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plata</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plata.Factura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plata.Factura.Serie) - @Html.DisplayFor(model => model.Plata.Factura.Numar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plata.DataPlatii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plata.DataPlatii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plata.Suma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plata.Suma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plata.MetodaPlata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plata.MetodaPlata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plata.Observatii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plata.Observatii)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plata.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
