@page
@model Ghita_Vlad_Proiect_Facturi.Pages.Plati.IndexModel

@{
    ViewData["Title"] = "Lista Plati";
}

<h1>Lista Plati</h1>

<p>
    <a asp-page="./Create" class="btn btn-success">Adauga plata noua</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plata[0].Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plata[0].DataPlatii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plata[0].Suma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plata[0].MetodaPlata)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var plata in Model.Plata) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => plata.Factura.Serie) - @Html.DisplayFor(modelItem => plata.Factura.Numar)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => plata.DataPlatii)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => plata.Suma)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => plata.MetodaPlata)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@plata.ID" class="btn btn-sm btn-info">Detalii</a>
                    <a asp-page="./Edit" asp-route-id="@plata.ID" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@plata.ID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
