@page
@model Ghita_Vlad_Proiect_Facturi.Pages.Parteneri.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partener</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partener.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partener.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partener.CUI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partener.CUI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partener.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partener.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partener.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partener.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partener.Tip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partener.Tip)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Partener.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
