@page
@model Ghita_Vlad_Proiect_Facturi.Pages.Parteneri.IndexModel

@{
    ViewData["Title"] = "Lista Parteneri";
}

<h1>Lista Parteneri</h1>

<p>
    <a asp-page="./Create" class="btn btn-success">Adauga partener nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Partener[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partener[0].CUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partener[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partener[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partener[0].Tip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partener in Model.Partener)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => partener.Nume)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => partener.CUI)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => partener.Adresa)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => partener.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => partener.Tip)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@partener.ID" class="btn btn-sm btn-info">Detalii</a>
                    <a asp-page="./Edit" asp-route-id="@partener.ID" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@partener.ID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
